.footer {
  height: 136px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px rgba(33, 33, 33, 0.4) solid;
}

.footer__content {
  opacity: 70%;
}
